<h4>Sign up for our weekly newsletter, <i>Austin's Finest!</i></h4>

<form class="row row-cols-lg-auto g-3 align-items-center newsletter">
  <div class="col-12">
    <label class="visually-hidden" for="inlineFormInputGroupUsername">Email</label>
    <div class="input-group">
      <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="JohnnyAppleseed@austintx.com">
    </div>
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary nbtn">Submit</button>
  </div>
</form>