{% extends '_templates/base.njk' %}

{% block page_title %}Visit Austin | Home{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <div class="col-12 intro">
    <h2 class="index">Howdy, Partner! </h2>
    <p>Welcome to Austin. Come explore the state's capital and find out why our slogan is Keep Austin Weird. From taking a hike around Lady Bird Lake to checking out the imfamous Sixth Street, this town has got something for everybody. Oh, and don't forget. If you don't want to seem like a tourist, be sure to greet people wearing burnt orange shirts with a loud and proud, <span style= "color:#CC5500" >"Hook 'Em!"</span> </p>
  </div>

  <div class = "row">
    <div class="col-sm-12 col-lg-6">
      <div class="card index">
        <div class="card-header">
          Landmarks
        </div>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style= "fluid">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
          </ol>
          <div class="carousel-inner">
            {% for landmark in landmarks.landmarks %}
            <div class="carousel-item {% if loop.first %}active{% endif %}">
              <img src="img/landmarks/{{landmark.image}}" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5> <a style="color:white" href = "landmarks/{{landmark.slug}}.html">{{landmark.name}}</h5>
              </div>
            </div>
            {%endfor%}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">Looking for an adventure? Check out Austin's hottest tourist destinations!</h5>
          <p class="card-text"> Whether you're an indoor or outdoor person, Austin has some of the coolest places to explore! </p>
          <a href="landmarks/university-of-texas.html" class="btn btn-primary">I'm always down for an adventure!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="card index">
        <div class="card-header">
          Restaurants
        </div>
        <img src="../img/restaurants/peached-tortilla.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Feeling hungry? Check out these Instagram worthy places to eat!</h5>
          <p class="card-text">With a plethora of different cuisines, you can be sure to find a restaurant to satisfy your tastebuds.</p>
          <a href="restaurants.html" class="btn btn-primary">Sheeesh</a>
        </div>
      </div>
    </div>
  </div>

  
</div>
{% endblock %}




