{% extends '_templates/base.njk' %}

{% block page_title %}Visit Austin | Home{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Howdy, Partner!</h1>
  <p>Description of the website goe here. NEED TO WRITE THIS LATER!!!!!!!!</p>
    <div class = "row-lg-12">
      <h2> <a href= "#">Landmarks</a></h2>
      <div class = "col-sm-4">
        <img src = "../img/landmarks/lady-bird-lake.jpg" alt= "Lake" class = "img-fluid">
        <img src = "../img/landmarks/mount-bonnell.jpg" alt = "Texas State capitol" class = "img-fluid">
        <img src = "../img/landmarks/univ-of-tx.jpg" alt = "University of Texas" class = "img-fluid">
      </div>
    </div>
  <div class = "row-lg-12">
    <h2><a href= "#"> Restaurants</a></h2>
  </div>
  <div class = "col-lg-4">
    <img src = "../img/restaurants/peached-tortilla.jpg" alt= "tacos" class = "img-fluid">
  </div>
  <div class = "col-lg-4">
    <img src = "../img/restaurants/valentinas.jpg" alt = "barbeque" class = "img-fluid">
  </div>
  <div class = "col-lg-4">
    <img src = "../img/restaurants/patrizis.jpg" class = "img-fluid">
  </div>
    <!--
    <div class = "row-lg-12">
    <h2><a href = "#"</a> Activities</h2>
      <div class = "col-lg-4">
        <img src = "../img/restaurants/peached-tortilla.jpg" alt= "tacos" class = "img-fluid">
        <img src = "../img/restaurants/valentinas.jpg" alt = "barbeque" class = "img-fluid">
        <img src = "../img/restaurants/patrizis.jpg" class = "img-fluid">
      </div>
    -->
{% endblock %}