{% extends '_templates/base.njk' %}

{% block page_title %}Visit Austin | Home{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Howdy, Partner!</h1>
  <p>Description of the website goe here. NEED TO WRITE THIS LATER!!!!!!!!</p>
  <div class = "row">
    <div class="col-sm-12 col-lg-6">
      <div class="card index">
        <div class="card-header">
          Landmarks
        </div>
        <img src="../img/landmarks/lady-bird-lake.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Looking for an adventure? Check out Austin's hottest tourist destinations!</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="landmarks/university-of-texas.html" class="btn btn-primary">I'm always down for an adventure!</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-lg-6">
      <div class="card index">
        <div class="card-header">
          Restaurants
        </div>
        <img src="../img/restaurants/peached-tortilla.jpg" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <h5 class="card-title">Feeling hungry? Check out these Instagram worthy places to eat!</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="restaurants.html" class="btn btn-primary">Sheeesh</a>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}




