{% extends '_templates/base.njk' %}

{% block page_title %}Visit Austin, TX | Restaurants{% endblock %}

{% block page_description %}Restaurants in Austin, TX.{% endblock %}

{% block content %}
<article class="container">
  <div class="row">
    {% for restaurant in restaurants.restaurants %}
    <div class = "col-lg-4 col-md-6 col-sm-12">
      <div class="card h-100">
        <img class="card-img-top" src="img/restaurants/{{restaurant.image}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{restaurant.name}}</h5>
          <p class = "category">{{restaurant.category}} </p>
          <p><a href = {{restaurant.url}} target="_blank">{{restaurant.address}} </a></p>
        </div>
       </div>
    </div>
    {% endfor %}
  </div> 

</article>
{% endblock %}