{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ title }}{% endblock %}

{% block page_description %}stuff{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-5">
          <img src="../img/landmarks/{{ image }}" alt="" class="img-fluid">
          <p> {{location}}</p>
          <p>{{established}} </p>
      </div>
      <div class="col-sm-7">
          <h1> {{ name }}</h1>
          <p>{{ description | safe }}</p>
          <h2> Activities </h2>
          <p> {{activities}}</p>
          <a href={{url}}> {{url}}</a>
      </div>
    </div>
  </article>
{% endblock %}