.card-style{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  width: 20rem;
}

.article{
  align-items: center;
}

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display:flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 225px;
    overflow:hidden;
}



